[submodule "backtrader"]
	path = backtrader
	url = https://github.com/CoCoMilkyWay/backtrader.git
[submodule "vectorbt.pro"]
	path = vectorbt.pro
	url = ./vectorbt.pro/
[submodule "chan.py"]
	path = chan.py
	url = https://github.com/CoCoMilkyWay/chan.py.git
