backtrader
ccxt
cuid
extract-msg
fastjsonschema
huggingface
huggingface-hub
jupyter-events
jupyterlab-pygments
kili
launchpadlib
lazr.restfulclient
lazr.uri
macaroonbakery
memory-profiler
mypy-extensions
notebook_shim
prometheus-client
pure-eval
pydantic_core
pymacaroons
secretstorage
sklearn
stack-data
tushare
typing-inspect
wadllib