alembic >=0.7.7
bcolz >=0.12.1
bottleneck >=1.0.0
click >=4.0.0
empyrical >=0.5.0
h5py >=2.7.1
intervaltree >=2.1.0
iso3166 >=0.9
iso4217 >=1.6.20180829
libgcc-ng >=7.5.0
logbook >=0.12.5
lru-dict >=1.1.4
multipledispatch >=0.6.0
networkx >=1.9.1,<2.0
numexpr >=2.6.1
numpy >=1.11.3,<2.0a0
pandas >=0.18.1,<=0.22
pandas-datareader >=0.2.1,<0.9.0
patsy >=0.4.0
pytables >=3.4.3
python >=3.6,<3.7.0a0
python-interface >=1.5.3
pytz >=2018.5
requests >=2.9.1
scipy >=0.17.1
six >=1.10.0
sqlalchemy >=1.0.8
statsmodels >=0.6.1
toolz >=0.8.2
trading-calendars >=1.6.1

# pip
Package                       Version      Location                                                        Installer
----------------------------- ------------ --------------------------------------------------------------- ---------
alembic                       1.7.7        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages pip
alphalens                     0.3.6        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
backcall                      0.2.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
backports.functools-lru-cache 2.0.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
bcolz                         1.2.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
bokeh                         2.3.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Bottleneck                    1.3.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
brotlipy                      0.7.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
cached-property               1.5.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
certifi                       2021.5.30    /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
cffi                          1.14.6       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
charset-normalizer            2.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
click                         8.0.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
cloudpickle                   2.2.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
cryptography                  35.0.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
cycler                        0.11.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
dask                          0.13.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
decorator                     5.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
empyrical                     0.5.5        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
entrypoints                   0.4          /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
greenlet                      1.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
h5py                          3.1.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
idna                          3.6          /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
importlib-metadata            4.8.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
importlib-resources           5.4.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages pip
intervaltree                  3.1.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
ipykernel                     5.5.5        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
ipython                       7.16.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
ipython-genutils              0.2.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
iso3166                       2.0.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
iso4217                       1.9.20220401 /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
jedi                          0.17.2       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Jinja2                        3.0.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
jupyter-client                7.1.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
jupyter-core                  4.8.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
kiwisolver                    1.3.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
locket                        1.0.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Logbook                       1.5.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
lru-dict                      1.1.7        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
lxml                          4.6.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Mako                          1.1.6        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages pip
MarkupSafe                    2.0.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
matplotlib                    3.3.4        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
mock                          5.1.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
multipledispatch              0.6.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
nest_asyncio                  1.6.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
networkx                      1.11         /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
numexpr                       2.7.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
numpy                         1.19.5       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
olefile                       0.46         /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
packaging                     21.3         /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pandas                        0.22.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
pandas-datareader             0.8.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
parso                         0.7.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
partd                         1.2.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
patsy                         0.5.6        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pexpect                       4.8.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pickleshare                   0.7.5        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Pillow                        8.3.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pip                           21.3.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
prompt-toolkit                3.0.36       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
ptyprocess                    0.7.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pycparser                     2.21         /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
Pygments                      2.14.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pyOpenSSL                     22.0.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pyparsing                     3.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
PySocks                       1.7.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
python-dateutil               2.8.2        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
python-interface              1.6.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
pytz                          2023.3.post1 /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
PyYAML                        5.4.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
pyzmq                         22.3.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
requests                      2.28.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
scipy                         1.5.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
seaborn                       0.10.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
setuptools                    58.0.4       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
six                           1.16.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
sortedcontainers              2.4.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
SQLAlchemy                    1.4.25       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
statsmodels                   0.11.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
tables                        3.6.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
toolz                         0.12.0       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
tornado                       6.1          /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
trading-calendars             2.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
traitlets                     4.3.3        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
typing_extensions             4.1.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
urllib3                       1.26.15      /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
wcwidth                       0.2.10       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda
wheel                         0.37.1       /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages
zipline                       1.4.1        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages pip
zipp                          3.6.0        /home/chuyin/mambaforge/envs/py_3p6/lib/python3.6/site-packages conda